- breadcrumb :index_profile
= render "layouts/header"
%main.l-container
  .l-content
    %section.mypage-user-icon
      = link_to "" do
        %figure
          = image_tag "//static.mercdn.net/images/member_photo_noimage_thumb.png", size: '60x60'
          %h2.bold 
            = current_user.nickname
          .mypage-number
            %div
              評価
              %span.bold 0
            %div
              出品数
              %span.bold 0
    %section.mypage-upper-tab
      %ul.upper-tab
        %li.upper-tab__label
          %h3#mypage-notification
            お知らせ
        %li.upper-tab__label
          %h3#mypage-todo
            やることリスト
      .upper-content
        %ul#mypage-tab-notification.upper-content__pane
          %li
            = link_to "https://www.mercari.com/jp/mypage/news/", class: "tab-item-link" do
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png", class: "lazyloaded"
              .tab-item-body
                .tab-item-text 事務局から個別メッセージ「【重要】事務局からのお知らせ」
                %time
                  %i.far.fa-clock
                  %span 2 日前
              %i.fas.fa-chevron-right
          %li
            = link_to "", class: "tab-item-link" do
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png", class: "lazyloaded"
              .tab-item-body
                .tab-item-body__text 【出品はじめかたガイド】安心でかんたんに出品する方法をCHECKしてみよう！
                %time
                  %i.far.fa-clock
                  %span 2 日前
              %i.fas.fa-chevron-right
          %li
            = link_to "https://www.mercari.com/jp/mypage/news/", class: "tab-item-link" do
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png", class: "lazyloaded"
              .tab-item-body
                .tab-item-body__text 事務局から個別メッセージ「らくらくメルカリ便の「集荷サービス」はたったの30円！」
                %time
                  %i.far.fa-clock
                  %span 3 日前
              %i.fas.fa-chevron-right
          %li
            = link_to "", class: "tab-item-link" do
              %figure
                = image_tag "//static.mercdn.net/images/mercari_profile.png", class: "lazyloaded"
              .tab-item-body
                .tab-item-body__text 【メルカリ安心への取り組み】商品代金は、取引完了まで事務局が大切にお預かりいたします
                %time
                  %i.far.fa-clock
                  %span 3 日前
                %i.fas.fa-chevron-right
          %li.tab-go-list
            = link_to "一覧を見る", ""
        %ul#mypage-tab-todo.upper-content__pane
          %li.tab-item-not-found.bold 現在、やることリストはありません
    %section.mypage-bottom-tab
      %h2.bottom-tab-head 購入した商品
      %ul.bottom-tab
        %li.bottom-tab__label
          %h3#mypage-transaction-now
            取引中
        %li.bottom-tab__label
          %h3#mypage-transaction-old
            過去の取引
      .bottom-content
        %ul#mypage-tab-transaction-now.bottom-content__pane
          %li.tab-item-not-found.bold 取引中の商品がありません
        %ul#mypage-tab-transaction-old.bottom-content__pane
          %li.tab-item-not-found.bold 過去に取引した商品がありません


  = render 'layouts/l-side'

= render 'layouts/aside'

= render 'layouts/footer'
