= render "layouts/header"


.user-logout
  .content
    .chapter
      = form_with(class: "inner", local: true) do |f|
        .logout
          %button.btn-default.btn-red
            ログアウト


  = render 'layouts/l-side'

= render 'layouts/aside'

= render 'layouts/footer'
