%main.l-container
  .l-content
    %section.mypage-user-icon
      = link_to "" do
        %figure
          %img{alt:"サンプル",height: "60", width: "60", src: "//static.mercdn.net/images/member_photo_noimage_thumb.png"}/  
          %h2.bold username
          .mypage-number
            %div
              評価
              %span.bold 0
            %div
              出品数
              %span.bold 0


    %section.mypage-tab-container-notification-todo
      %ul.mypage-tabs
        %li.tab-label.active
          %h3         
            = link_to "お知らせ", "#mypage-notification", id: "mypage-notification" 
        %li.tab-label
          %h3
            =link_to "やることリスト", "#mypage-todo", id: "#mypage-todo"  
      .tab-content
        %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
          %li
            = link_to "https://www.mercari.com/jp/mypage/news/", class: "mypage-item-link" do
              %figure
                %img.lazyloaded{:alt => "", "data-src" => "//static.mercdn.net/images/mercari_profile.png", :src => "//static.mercdn.net/images/mercari_profile.png"}/
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「【重要】事務局からのお知らせ」
                %time
                  %i.far.fa-clock
                  %span 2 日前
              %i.fas.fa-chevron-right
          %li
            = link_to "", class: "mypage-item-link" do
              %figure
                %img.lazyloaded{:alt => "", :src => "//static.mercdn.net/images/mercari_profile.png"}/
              .mypage-item-body
                .mypage-item-text 【出品はじめかたガイド】安心でかんたんに出品する方法をCHECKしてみよう！
                %time
                  %i.far.fa-clock
                  %span 2 日前
              %i.fas.fa-chevron-right        
          %li
            = link_to "https://www.mercari.com/jp/mypage/news/", class: "mypage-item-link" do
              %figure
                %img.lazyloaded{:alt => "", :src => "//static.mercdn.net/images/mercari_profile.png"}/
              .mypage-item-body
                .mypage-item-text 事務局から個別メッセージ「らくらくメルカリ便の「集荷サービス」はたったの30円！」
                %time
                  %i.far.fa-clock
                  %span 3 日前
              %i.fas.fa-chevron-right         
          %li
            = link_to "", class: "mypage-item-link" do
              %figure
                %img.lazyloaded{:alt => "", :src => "//static.mercdn.net/images/mercari_profile.png"}/
              .mypage-item-body
                .mypage-item-text 【メルカリ安心への取り組み】商品代金は、取引完了まで事務局が大切にお預かりいたします
                %time
                  %i.far.fa-clock
                  %span 3 日前
                %i.fas.fa-chevron-right
          %li.mypage-go-list    
            = link_to "一覧を見る"
        %ul#mypage-tab-todo.mypage-item-list.tab-pane
          %li.mypage-item-not-found.bold 現在、やることリストはありません


    %section.mypage-tab-container
      %h2.mypage-tab-head 購入した商品
      %ul.mypage-tabs
        %li.tab-label.active
          %h3  
            = link_to "取引中", "#mypage-transaction-now", id: "mypage-transaction-now"
                
        %li.tab-label
          %h3
            = link_to "過去の取引", "#mypage-transaction-old", id: "mypage-transaction-old"
              
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane.active
          %li.mypage-item-not-found.bold 取引中の商品がありません
        %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane
          %li.mypage-item-not-found.bold 過去に取引した商品がありません

  = render 'l-side'
  