= render 'layouts/header'
.l-container
  .l-content
    .destroy-main
      %h2.destroy-head 商品削除
      .setting-destroy
        = link_to "商品の編集", edit_product_path, class: "btn-edit-red"
        %p or
        = link_to "出品を一旦停止する", edit_user_profile_path, class: "btn-delete-gray"
        = link_to "この商品を削除する", "products/id/productitems/id", method: :delete, data: { confirm: "この商品を削除します。本当によろしいですか？"}, class: "btn-delete-gray"

  -# = render 'layouts/l-side'
= render 'layouts/aside'
= render 'layouts/footer'

