.toppage
  = render 'layouts/header'
  .main
    .main__category
      %h2.main__category__title ピックアップカテゴリー
      .main__category__item
        %h3.main__category__sub-title レディース 新着アイテム
        .main__category__item-box
          - if @ladies.present?
            -  @ladies.last(4).each do |lady|
              .item-boxs
                = link_to("products/#{lady.id}") do
                  %figure
                    - if lady.images.attached?
                      - lady.images.each_with_index do |image, i|
                        - if i == 0
                          = image_tag image, class:"img"
                  .item-boxs__body
                    %h3.item-boxs__name
                      = lady.name
                    .item-boxs__num
                      .item-boxs__price
                        = lady.price
                    %p.tax (税込)
        .view__all
          %a すべての商品を見る
      .main__category__item
        %h3.main__category__sub-title メンズ 新着アイテム
        .main__category__item-box
          - if @mens.present?
            -  @mens.last(4).each do |man|
              .item-boxs
                = link_to("products/#{man.id}") do
                  %figure
                    - if man.images.attached?
                      - man.images.each_with_index do |image, i|
                        - if i == 0
                          = image_tag image, class:"img"
                  .item-boxs__body
                    %h3.item-boxs__name
                      = man.name
                    .item-boxs__num
                      .item-boxs__price
                        = man.price
                    %p.tax (税込)
        .view__all
          %a すべての商品を見る
      .main__category__item
        %h3.main__category__sub-title ベビー・キッズ 新着アイテム
        .main__category__item-box
          - if @kids.present?
            -  @kids.last(4).each do |kid|
              .item-boxs
                = link_to("products/#{kid.id}") do
                  %figure
                    - if kid.images.attached?
                      - kid.images.each_with_index do |image, i|
                        - if i == 0
                          = image_tag image, class:"img"
                  .item-boxs__body
                    %h3.item-boxs__name
                      = kid.name
                    .item-boxs__num
                      .item-boxs__price
                        = kid.price
                    %p.tax (税込)
        .view__all
          %a すべての商品を見る
      .main__category__item
        %h3.main__category__sub-title コスメ・香水・美容 新着アイテム
        .main__category__item-box
          - if @cosmetics.present?
            -  @cosmetics.last(4).each do |cosmetic|
              .item-boxs
                = link_to("products/#{cosmetic.id}") do
                  %figure
                    - if cosmetic.images.attached?
                      - cosmetic.images.each_with_index do |image, i|
                        - if i == 0
                          = image_tag image, class:"img"
                  .item-boxs__body
                    %h3.item-boxs__name
                      = cosmetic.name
                    .item-boxs__num
                      .item-boxs__price
                        = cosmetic.price
                    %p.tax (税込)
        .view__all
          %a すべての商品を見る
    .main__brand
      %h2.main__brand__title ピックアップブランド
      .main__brand__item
        %h3.main__brand__sub-title シャネル 新着アイテム
        .main__brand__item-box
          - if @chanels.present?
            -  @chanels.last(4).each do |chanel|
              .item-boxs
                = link_to("products/#{chanel.id}") do
                  %figure
                    - if chanel.images.attached?
                      - chanel.images.each_with_index do |image, i|
                        - if i == 0
                          = image_tag image, class:"img"
                  .item-boxs__body
                    %h3.item-boxs__name
                      = chanel.name
                    .item-boxs__num
                      .item-boxs__price
                        = chanel.price
                    %p.tax (税込)
        .view__all
          %a すべての商品を見る
      .main__brand__item
        %h3.main__brand__sub-title ルイ ヴィトン 新着アイテム
        .main__brand__item-box
          - if @vuittons.present?
            -  @vuittons.last(4).each do |vuitton|
              .item-boxs
                = link_to("products/#{vuitton.id}") do
                  %figure
                    - if vuitton.images.attached?
                      - vuitton.images.each_with_index do |image, i|
                        - if i == 0
                          = image_tag image, class:"img"
                  .item-boxs__body
                    %h3.item-boxs__name
                      = vuitton.name
                    .item-boxs__num
                      .item-boxs__price
                        = vuitton.price
                    %p.tax (税込)
        .view__all
          %a すべての商品を見る
      .main__brand__item
        %h3.main__brand__sub-title シュプリーム 新着アイテム
        .main__brand__item-box
          - if @supremes.present?
            -  @supremes.last(4).each do |supreme|
              .item-boxs
                = link_to("products/#{supreme.id}") do
                  %figure
                    - if supreme.images.attached?
                      - supreme.images.each_with_index do |image, i|
                        - if i == 0
                          = image_tag image, class:"img"
                  .item-boxs__body
                    %h3.item-boxs__name
                      = supreme.name
                    .item-boxs__num
                      .item-boxs__price
                        = supreme.price
                    %p.tax (税込)
        .view__all
          %a すべての商品を見る
      .main__brand__item
        %h3.main__brand__sub-title ナイキ 新着アイテム
        .main__brand__item-box
          - if @nikes.present?
            -  @nikes.last(4).each do |nike|
              .item-boxs
                = link_to("products/#{nike.id}") do
                  %figure
                    - if nike.images.attached?
                      - nike.images.each_with_index do |image, i|
                        - if i == 0
                          = image_tag image, class:"img"
                  .item-boxs__body
                    %h3.item-boxs__name
                      = nike.name
                    .item-boxs__num
                      .item-boxs__price
                        = nike.price
                    %p.tax (税込)
        .view__all
          %a すべての商品を見る
    .flame
      #gallery
        .easy-photo
          .easy__main__content
            .easy__main__area
              .area__content
                %h2.area__text スマホでかんたん
                %h2.area__text フリマアプリ
                %p.area__detail メルカリはスマホカメラからすぐに出品できる
                %p.area__detail 購入時も安心な独自システムのアプリです
                .vitual-store
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?3856598694", class: "store-img"
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3856598694", class: "store-img"
              = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?3856598694", class: "iphone-img"
        = image_tag "https://www.mercari.com/jp/assets/img/common/jp/top/banner-camp.jpg", class: "camp-photo"
        = image_tag "https://www.mercari.com/jp/assets/img/common/jp/top/banner-natsukashi.jpg", class: "natukasi-photo"
      .nav
        #prev
        #next
      #dots
        .left-dot.dot
        .center-dot.dot
        .right-dot.dot
  = render 'layouts/aside'
  = render 'layouts/footer'
  .sell-btn
    .sell-btn__text 出品
    %i.fas.fa-camera
