%body
  .sell-infomation
    .product-sell_header
      %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3160895340"}/
    .product-sell_main
      .product-info
        .product-info_title 商品の情報を入力
        %form.product-sell_form
        .image-upload
          %h.image-upload_head
            出品画像
            %span.form_require 必須
          %p 最大10枚までアップロードできます
          .image-upload_box
            = form_with model: @product, local: true  do |form|
              = form.file_field :images
              %pre 
                ドラッグアンドドロップ
                またはクリックしてファイルをアップロード
        .product-contents
          %h.product-name
            商品名
            %span.form_require 必須
          .product-name_form
            = form_with model: @product, local: true  do |form|
              = form.text_field :name, class: "product-name_input", :placeholder => "商品名（必須 40文字まで)"
          %h.product-description
            商品説明
            %span.form_require 必須
          .product-description_form
            = form_with model: @product, local: true  do |form|
              = form.text_area :description, class: "product-description_input", :placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", :rows => "5"
        .product-detail
          %h 商品の詳細
          .detail-form
            .category
              %h.category_title
                カテゴリー
                %span.form_require 必須
              .category_select
                = form_with model: @product, local: true  do |form|
                  = form.collection_select :category, Category.where(id: [1,2,3,4,5,6,7,8,9,10,11,12,13]), :category, :category, {prompt: "---"}
            .detail-form_condition
              %h.product-detail_condition
                商品の状態
                %span.form_require 必須
              .condition_select_form
                = form_with model: @product, local: true  do |form|
                  = form.select :condition, Product.conditions.keys, prompt: "---"
                  = form.select :shipping_cost, Product.shipping_costs.keys, prompt: "---"
                  = form.select :source_area, Product.source_areas.keys, prompt: "---"
                  = form.select :shipping_day, Product.shipping_days.keys, prompt: "---"
                  = form.text_field :price, :praceholder => "例）300"
                  = form.submit
