%footer.signup-footer

  %nav

    %ul.clesrfix

      %li
        = link_to new_smse_path, class: "link" do
          プライバシーポリシー

      %li
        = link_to new_address_path, class: "link" do
          メルカリ利用規約

      %li
        = link_to new_payment_path, class: "link" do
          特定商取引に関する表記

  = link_to new_user_registration_path, class: "signup-footer-logo" do
    = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2399382397', alt: 'mercari', height: '65', width: '80',class: "img"
  %p
    %small ©︎2019 Mercari

